---
layout: default
title: Ski Areas
datatable: true
---

<h1>Ski Areas</h1>

{% for area in site.data.snow_reports %}
  <div>
    <h2>{{ area.skiArea }}</h2>
    <p>Valley snow: {{ area.valley }}</p>
    <p>Mountain snow: {{ area.berg }}</p>
    <p>Lifts open: {{ area.lift.open }} / {{ area.lift.total }}</p>
    <p>Last update: {{ area.update }}</p>

    <h3>Lifts</h3>
    <div class="datatable-begin"></div>
      Status    | Short      | Name | Type
      --------- | ---------- | ---- | ----
      {% for lift in area.details.liften %}
      {{ lift.status}} | {{ lift.short }} | {{ lift.name }} | {{ lift.type }}
      {% endfor %}
    <div class="datatable-end"></div>

    <h3>Pistes</h3>
    <div class="datatable-begin"></div>
      {% for piste in area.details.pisten %}
        Status    | Type       | Short | Name | Length
        --------- | ---------- | ----- | ---- | ------
        {{ piste.status }} | {{ piste.type }} | {{ piste.short }} | {{ piste.name }} | {{ piste.length }}
      {% endfor %}
    <div class="datatable-end"></div>
  </div>
{% endfor %}
